services:
  front:
    container_name: biomedic-frontend
    image: lucaspraciano/biomedic-frontend
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8001:8001"
    restart: unless-stopped